{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<br><h3 align="center">Add transaction to <span style="color: red;">{{ group.group_name }}</span></h3>

    <form method="post" action="http://127.0.0.1:5000/add-transaction" align="center">

        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br><br>
        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" step="0.01"><br><br>
        <input type="hidden" id="group_id" name="group_id" value="{{ group.id }}">

        <span class="input-group-addon">Who paid?</span>
            <select name="payer_id" class="selectpicker form-control">
              {% for member in group.members %}
              <option value="{{ member.id }}">{{ member.username }}</option>
              {% endfor %}
            </select>

        <br><a class="btn btn-secondary" href="mygroup?groupID={{ group.id }}" role="button">Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br>
{% endblock %}