{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<br><h3 align="center">Add transaction to <span style="color: red;">{{ group.group_name }}</span></h3>

    <form method="post" action="http://127.0.0.1:5000/add-transaction" align="center">

        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br><br>
        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" step="0.01"><br><br>
        <input type="hidden" id="group_id" name="group_id" value="{{ group.id }}">

        <span class="input-group-addon">Who paid?</span>
        <select name="payer_id" class="selectpicker form-control">
            {% for member in group.members %}
            <option value="{{ member.id }}">{{ member.username }}</option>
            {% endfor %}
        </select><br>

        <span class="input-group-addon">Split between:</span><br>
        <div class="form-check form-check-inline">
            {% for member in group.members %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ member.id }}" value="{{ member.id }}" name="member_included" checked>
                <label class="form-check-label" for="{{ member.id }}">
                    {{ member.username }}{% if member.id == user.id %} (me){% endif %}
                </label>
            </div><br><br><br>
            {% endfor %}
        </div>

        <br><a class="btn btn-secondary" href="mygroup?groupID={{ group.id }}" role="button">Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br>
{% endblock %}