<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel ="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<header>
    <a href="/"><img src="{{ url_for('static', filename='images/logo3small.png') }}"></a>
    <div style="margin-right: 5rem; position: sticky;">
        {% if user.is_authenticated %}
            <a class="TBD" href="/account">My Account</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="TBD" id="logout" href="/logout">Logout</a>
        {% else %}
        <a class="signup" href="/sign-up">Sign Up</a> &nbsp;
        <a href="/login" id="signin">Log In</a>
        {% endif %}
        
    </div>
</header>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<div>{% block content %} {% endblock %}</div>
<footer>
    Copyright &copy; 2022 Marmo Expense Sharing<br>
    <a href="mailto:carsondidericksen@gmail.com">support@marmo.app</a>
</footer>
</html>