{% extends "webflow_base.html" %}{% block title %}Group{% endblock %}

    {% block content %}
    <div class="nav-bar wf-section">
      <a href="/" class="nav-image w-inline-block"><img src="{{ url_for('static', filename='images/back-arrow.png') }}"
          loading="lazy" alt=""></a>
      <div class="header page-title">{{ group.group_name }}</div>
      <a href="group-info?groupID={{ group.id }}" class="nav-image info-button w-inline-block"><img
          src="{{ url_for('static', filename='images/info-icon.png') }}" loading="lazy" alt=""></a>
    </div>
    <div class="balance-section wf-section">
      <div class="header">Your Balance:</div>
      <div class="balance-text">
        <h1 class="large-green">${{ group.calculate_debts(user)[0] }}</h1>
      </div>
      <div class="subtitle">
        {% if group.calculate_debts(user)[0] == 0 %}
        You&#x27;re all paid up. Great Job!
        {% endif %}
      </div>
    </div>
    <div class="addtransaction-section wf-section">
      <a href="/add-transaction?groupID={{ group.id }}" class="button w-button">Add Transaction</a>
      <a href="/add-payment?groupID={{ group.id }}" class="button w-button">Record Payment</a>
    </div>
    <div class="members-section wf-section">
      <div class="left-right-block">
        <div class="header green">Members</div>
        <a href="/see-transactions?groupID={{ group.id }}" class="text-link-block w-inline-block">
          <div class="text-block">View Transactions</div>
        </a>
      </div>
      {% for member in group.members %}
      <div class="left-right-block">
        <a href="#" class="group-link w-inline-block">
          <div class="header bold">
            {{ member.username }}
            {% if member.id == user.id %} (me){% endif %}
          </div>
        </a>
        <div class="header balance">
          {% if group.calculate_debts(member, convert_to_string=False) == 0 %}
          <span class="green">All settled up!</span>
          {% endif %}
          {% if group.calculate_debts(member, convert_to_string=False) > 0 %}
          $<span class="green">{{ group.calculate_debts(member, convert_to_string=False) }}</span>
          {% endif %}
          {% if group.calculate_debts(member, convert_to_string=False) < 0 %} $<span style="color: red;">{{
            group.calculate_debts(member, convert_to_string=False) }}</span>
            {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}