{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container" align="center">
  <br><h1 align="center">{{ group.group_name }}</h1>
  <h4>Group id: {{ group.id }}</h4><br>
  <h4>Members:</h4>
  {% for member in group.members %}
  <h5>{{ member.username }}</h5>
  {% endfor %}<br>
  <h4>Debts:</h4>
  {% for member in group.members %}
    {% if group.calculate_debts(member)[1] == 0 %}
      <h6>{{member.username}} is <span style="color: rgb(0, 197, 0);">all settled up!</span></h6>
    {% endif %}
    {% if group.calculate_debts(member)[1] == 1 %}
      <h6>{{member.username}} is owed <span style="color: rgb(0, 197, 0);">${{ group.calculate_debts(member)[0] }}</span>.</h6>
    {% endif %}
    {% if group.calculate_debts(member)[1] == -1 %}
      <h6>{{member.username}} owes <span style="color: red;">${{ group.calculate_debts(member)[0] }}</span>.</h6>
    {% endif %}
  {% endfor %}<br>
  <a class="btn btn-secondary" href="/" role="button">Back</a>
  <a class="btn btn-primary" href="/add-transaction" role="button">Add transaction</a>
  <a class="btn btn-primary" href="/add-payment" role="button">Add payment</a>
</div>
{% endblock %}