{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Welcome to marmo.</h1><br>
<div class="container" align="center">
    <a class="btn btn-primary" href="create-group" role="button" align="center">Create Group</a>
    <a class="btn btn-primary" href="join-group" role="button">Join Group</a><br><br>
</div>
<div class="container" align="left" padding="1rem">
    <h2>My groups:</h2>
    {% for group in user.groups %}
    <span>
        <h5><a href="mygroup?groupID={{ group.id }}">{{ group.group_name }}</a></h5>
    </span>
    <h6>
        {% if group.calculate_debts(user)[1] == 0 %}
        You are all settled up!
        {% endif %}
        {% if group.calculate_debts(user)[1] == 1 %}
        You are owed <span style="color:rgb(0, 197, 0);">${{ group.calculate_debts(user)[0] }}.</span>
        {% endif %}
        {% if group.calculate_debts(user)[1] == -1 %}
        You owe <span style="color:red">${{ group.calculate_debts(user)[0] }}.</span>
        {% endif %}
    </h6>
    {% endfor %}
</div>

{% endblock %}