{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h3 align="center">Transactions for <span style="color: red;">{{ group.group_name }}</span></h3><br>

<div class="container" align="left" padding="1rem">
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Payer</th>
            <th>Creator</th>
            <th>Members Included</th>
            <th>Date Created</th>
        </tr>
    {% for transaction in group.transactions %}
        <tr>
          <td>{{transaction.description}}</td>
          <td>${{transaction.amount}}</td>
          <td>{% for member in group.members %}{% if member.id == transaction.payer_id %}{{ member.username }}{% endif %}{% endfor %}</td>
          <td>{% for member in group.members %}{% if member.id == transaction.creator_id %}{{ member.username }}{% endif %}{% endfor %}</td>

          <td>{{ transaction.members_included }}</td>

          <td>{{transaction.date_created}}</td>
          <td><a href="delete-transaction?groupID={{ group.id }}&tranID={{ transaction.id }}"
            onclick="return confirm('Are you sure you want this transaction record? This action cannot be undone.')">Delete</a></td>
          <td><a href="edit-transaction?groupID={{ group.id }}&tranID={{ transaction.id }}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
</div>

<h3 align="center">Payments for <span style="color: red;">{{ group.group_name }}</span></h3><br>

<div class="container" align="left" padding="1rem">
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Payer</th>
            <th>Recipient</th>
            <th>Date Created</th>
        </tr>
    {% for payment in group.payments %}
        <tr>
          <td>{{payment.description}}</td>
          <td>${{payment.amount}}</td>
          <td>{% for member in group.members %}{% if member.id == payment.payer_id %}{{ member.username }}{% endif %}{% endfor %}</td>
          <td>{% for member in group.members %}{% if member.id == payment.recipient_id %}{{ member.username }}{% endif %}{% endfor %}</td>
          <td>{{payment.date_created}}</td>
          <td><a href="delete-payment?groupID={{ group.id }}&paymentID={{ payment.id }}"
            onclick="return confirm('Are you sure you want to this payment record? This action cannot be undone.')">Delete</a></td>
          <td><a href="edit-payment?groupID={{ group.id }}&paymentID={{ payment.id }}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
    <div class="container-fluid">
        <a class="btn btn-secondary" href="mygroup?groupID={{ group.id }}" role="button">Back</a>
    </div>
    
</div>

{% endblock %}