{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}

<body>
<div id="wrapper">
  <main>
    <h1>Create Account</h1>
    <p>Required information is marked with an asterisk (*).</p>
    <form method="post">
        <label for="firstname">* First Name:</label>
        <input type="text" id="firstname" name="firstname" class="form-control" required>

        <label for="email">* E-mail:</label>
        <input type="email" id="email" name="email" class="form-control" required>

        <label for="password1">Create Password:</label>
        <input type="password" id="password1" name="password1" class="form-control" required>

        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" class="form-control" required>

        <input type="submit" id="mySubmit" value="Create">
    </form>
  </main>
</div>
</body>
{% endblock %}