body{
    background-color: #fff;
    color: #666666;
    font-family:'Karla';
    background-attachment: fixed;
    margin: 0px;
}

* {
    box-sizing: border-box;
}
header{
    background-color: #fff;
    color: #fff;
    font-family: georgia, serif;
    grid-row: 1 / 2;
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}
#wrapper{
    background-color: #fafafa;
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
    }
#banner{
    background-color: #d4d4d4;
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
        }
#homehero{
    height: 50rem;
    background-image: ("Images/PhoneMockup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 5 / 8;
}
#hometext{
    color: #000;
    display: block;
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    padding-top: 10rem;
    padding-left: 5rem;
    text-align: left;
}
.signup{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #6CBF49;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#signin{
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: #6CBF49;
    color: #000;
}
.signup{
    background-color: #6CBF49;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

header img{
    width:100px;
    height: auto;
    margin-left: 5rem;
}
h1{
    color: #6CBF49;
    font-weight: 600;
    font-family:'Open Sans';
    font-size: 2.5rem;
}

h2{
    color: #000;
    font-weight: 300;
    text-align: left;
}

h3{
    color: #6CBF49;
    font-weight: 300;
}

h4{
    color: #6CBF49;
}

dt{
    color: #000;
    font-weight: bold;
}


footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff;
}

form{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    gap: 0.75rem;
    width: 100%;
}

input, textarea{
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}

input, text area :focus{
    outline: none;
    background-color: #f0f0f0;
}

label{
    padding: 10px;
    text-align: right;
}

#mySubmit{
    width: 10rem;
    grid-column: 2 / 3;
}


@media only screen and (max-width: 1100px){
    
#wrapper{
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
}

}

@media only screen and (max-width: 900px){

    nav{
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }
    nav ul{
        flex-flow: column nowrap;
    }
    #homehero{
        height: auto;
        background-image: url("images/PhoneMockup.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-row: 2 / 3;
        grid-column: 5 / 8;
    }
    

    section{
        float: none;
        width: 100%;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 600px){
header h1{
    background-image: none;
    text-align: center;
}

nav{
    grid-row: 2 / 3;
    grid-column: 1 / 9;
}

#homehero{
    display: none;
}}